$color-one: #ca0a0a;
.color-one {
    color: $color-one;
}
.color-one-bg {
    background-color: $color-one;
}
.page-enter-active,
.page-leave-active {
    transition: all 0.5s;
}
.page-enter,
.page-leave-active {
    opacity: 0;
    transform: scale(0);
}
