$color-one: #ca0a0a;
$font-one: 'Lato', sans-serif !important;
.color-one {
    color: $color-one;
}
.color-one-bg {
    background-color: $color-one;
}
.font-one {
    font-family: 'Lato', sans-serif;
}
.page-enter-active,
.page-leave-active {
    transition: all 0.5s;
}
.page-enter,
.page-leave-active {
    opacity: 0;
    transform: scale(0);
}

body,
h1,
h2 {
    font-family: 'Lato', sans-serif;
}
::-webkit-scrollbar {
    width: 5px;
    position: relative;
}
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background-color: $color-one;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: red;
}
